* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  nav {
    display: flex;
    padding: 20px;
    background-color: #ff5722;
    position: sticky;
    top: 0;
    z-index: 1;
    align-items: center;
  }
  
  .nav-heading h2 {
    color: white;
    flex: 1;
    font-size: 1.8em;
  }
  
  .nav-links {
     display: flex;
    gap: 20px;
    align-items: center;
    margin-left: auto;
  }
  
  #contact-link {
    color: black;
    font-size: 1.2em;
    margin-right: 10px;
  }
  
  #contact-link:hover {
    text-decoration: underline;
  }
  
  #github-icon,
  #linkedin-icon {
    width: 30px;
    cursor: pointer;
  }
  
  #github-icon:hover,
  #linkedin-icon:hover {
    transform: scale(1.1);
  }
  
  main {
    padding: 20px;
    flex: 1;
  }
  
  .introduction {
    padding: 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 20px;
    align-items: center;
  }
  
  .introduction img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
  
  .text {
    padding: 10px;
    line-height: 1.6;
    font-size: 1.1em;
    text-align: center;
    width: 50%;
  }
  
  .text h1 {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  button {
    display: block;
    margin: 15px auto;
    padding: 15px 30px;
    background-color: #ff5722;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #e64a19;
  }
  
  #cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding-top: 20px;
  }
  
  .card {
    padding: 20px;
    border: 1px solid grey;
    border-radius: 10px;
    background-color: #ff5722;
    text-align: center;
    flex: 1 1 calc(33.333% - 40px); 
    max-width: 300px;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .card img {
    width: 100%;
    border-radius: 10px;
  }
  
  .card h3 {
    margin: 10px 0;
    color: black;
    font-size: 1.5em;
  }
  
  .card p {
    color: black;
    text-align: left;
  }
  
  .card a img {
    width: 30px;
    margin-top: 10px;
  }
  
  .card a p {
    color: white;
    margin-top: 5px;
    font-size: 1em;
  }
  
  .card:hover{
    transform: scale(1.1);
  }

  .card a:hover img
 {
    transform: scale(1.1);
    transition: transform 0.3s ease;
  }
  
  footer {
    padding: 20px;
    background-color: #f5f5f5;
    text-align: center;
    margin-top: auto;
  }
  
  footer hr {
    margin-bottom: 10px;
  }
  
  @media only screen and (max-width: 768px) {
    .introduction {
      flex-direction: column;
      align-items: center;
    }
  
    .text {
      width: 100%;
      text-align: center;
    }
  
    .card {
      flex: 1 1 calc(100% - 40px); 
    }
  }
  