* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    padding: 20px;
    background-color: #FF5722;
    position: sticky;
    top: 0;
    z-index: 1;
}

.nav-heading {
    flex: 1;
}

.nav-links {
    display: flex;
    gap: 20px;
    font-size: 20px;
}

#contact-link {
    color: black;
}

#contact-link:hover {
    text-decoration: underline;
}

main {
    padding: 20px;

}

.introduction {
    padding: 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 20px;
}

button {
    display: block;
    margin: 15px auto;
    padding: 15px;
    background-color: #ff5722;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1em;
    cursor: pointer; 
}

.text {
    padding: 10px;
    line-height: 1.2;
    font-size: 16px;
    text-align: center;
    width: 50%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    padding: 2em;
    border: 1px solid grey;
    border-radius: 10px;
    background-color: #FF5722;
    text-align: center;
    flex: 1 1 300px;
    max-width: 300px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.card img {
    width: 100%;
    border-radius: 10px;
}

.card h3 {
    margin: 10px 0;
    color: black;
}

.card p {
    color: black;
    text-align: left;
}


#github-icon {
    display: flex;
    width: 30px;
}

#github-icon:hover {
    transform: scale(1.1);
}

footer {
    padding: 20px;
}

#poza-inceput {
    border-radius: 50%;
    object-fit: cover;
}

#linkedin-icon:hover {
    transform: scale(1.1);
}

@media only screen and (max-width: 768px) {
    .introduction {
        flex-direction: column;
        align-items: center;
    }

    .text {
        width: 100%;
        text-align: center;
    }
}